<!DOCKTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title> Pruebas </title> 
        <meta charset="UTF-8"/> 
    </head>
    <body>

        <!-- 1 seccion donde se muestra el botón de agregar categorías -->
        <section th:fragment="btnAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <button type="button"
                                sec:authorize="hasRole('ROLE_ADMIN')"
                                class="btn btn-primary btn-block"
                                data-bs-toggle="modal"
                                data-bs-target="#agregarProducto">
                            <i class="fas fa-plus"></i> [[#{producto.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 seccion donde se muestra la ventana modal de agregar categorías -->
        <div th:fragment="agregarProducto">
            <div id="agregarProducto"
                 class="modal fade"
                 tabindex="-1">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{producto.agregar}]]</h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal">
                            </button>
                        </div>
                        <form th:action="@{/producto/guardar}"
                              th:object="${producto}"  
                              method="post"
                              class="was-validated"
                              enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label>[[#{producto.categoria}]]</label>
                                    <select name="categoria.idCategoria"
                                            class="form-control">
                                        <option th:each="c:${categorias}"
                                                th:value="${c.idCategoria}">
                                            [[${c.descripcion}]]
                                        </option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label>[[#{producto.descripcion}]]</label>
                                    <input type="text" class="form-control"
                                           name="descripcion"
                                           required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label>[[#{producto.detalle}]]</label>
                                    <textarea class="form-control"
                                              name="detalle"
                                              rows="3"></textarea>
                                </div>

                                <div class="mb-3">
                                    <label>[[#{producto.precio}]]</label>
                                    <input type="number" class="form-control"
                                           name="precio"
                                           required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label>[[#{producto.existencias}]]</label>
                                    <input type="number" class="form-control"
                                           name="existencias"
                                           required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label>[[#{producto.activo}]]</label>
                                    <input type="checkbox" class="form-check-input"
                                           name="activo"/>
                                </div>

                                <div class="mb-3">
                                    <label>[[#{producto.imagen}]]</label>
                                    <input type="file" class="form-control"
                                           onchange="readURL(this);"
                                           name="imagenFile"/>
                                    <img id="blah" src="#" alt="no data" height="200"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-pimary" type="submit">
                                    <i class="fas fa-floppy" aria-hidden="true"></i> [[#{accion.guardar}]]
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- 3 seccion principal donde se muestra el listado de productos -->
        <section th:fragment="listado">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{producto.listado}]]</h4>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>[[#{producto.descripcion}]]</th>
                                            <th>[[#{producto.rutaImagen}]]</th>
                                            <th>[[#{producto.activo}]]</th>
                                            <th>[[#{producto.categoria}]]</th>
                                            <th sec:authorize="hasRole('ROLE_ADMIN')"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="p : ${productos}">
                                            <td>[[${p.idProducto}]]</td>
                                            <td>[[${p.descripcion}]]</td>
                                            <td>
                                                <img th:src="@{${p.rutaImagen}}"
                                                     height="75"
                                                     alt="no data"/></td>
                                            <td>[[${p.activo}]]</td>
                                            <td>[[${p.categoria.descripcion}]]</td>
                                            <td sec:authorize="hasRole('ROLE_ADMIN')">
                                                <a th:href="@{/producto/eliminar/}+${p.idProducto}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]</a>

                                                <a th:href="@{/producto/modificar/}+${p.idProducto}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]</a>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 4 seccion para modificar un producto -->
        <section th:fragment="editarProducto">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form th:action="@{/producto/guardar}"
                          th:object="${producto}"
                          method="post"
                          class="was-validated"
                          enctype="multipart/form-data">
                        <input type="hidden" name="idProducto" th:field="*{idProducto}"/>
                        <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                        <div class="row py-4 mb-4 bg-light">
                            <div class="col-md-4 d-grip">
                                <a th:href="@{/producto/listado}" class="btn btn-primary">
                                    <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                                </a>
                            </div>

                            <div class="col-md-4 d-grip">
                                <a th:href="@{/producto/eliminar}+${producto.idProducto}"
                                   class="btn btn-danger">
                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                                </a>
                            </div>

                            <div class="col-md-4 d-grip">
                                <button type="submit" class="btn btn-success">
                                    <i class="fas fa-check"></i> [[#{accion.guardar}]]
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="card">
                                <div class="card-body">

                                    <div class="mb-3">
                                        <label>[[#{producto.categoria}]]</label>
                                        <select name="categoria.idCategoria"
                                                th:field="*{categoria.idCategoria}"
                                                class="form-control">
                                            <option th:each="c:${categorias}"
                                                    th:value="${c.idCategoria}">
                                                [[${c.descripcion}]]
                                            </option>
                                        </select>
                                    </div>

                                    <div class="mb-3">
                                        <label>[[#{producto.descripcion}]]</label>
                                        <input type="text" class="form-control"
                                               name="descripcion"
                                               th:field="*{descripcion}"
                                               required="true"/>
                                    </div>
                                    
                                    <div class="mb-3">
                                    <label>[[#{producto.detalle}]]</label>
                                    <textarea class="form-control"
                                              name="detalle"
                                              th:field="*{detalle}"
                                              rows="3"></textarea>
                                </div>

                                <div class="mb-3">
                                    <label>[[#{producto.precio}]]</label>
                                    <input type="number" class="form-control"
                                           name="precio"
                                           th:field="*{precio}"
                                           required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label>[[#{producto.existencias}]]</label>
                                    <input type="number" class="form-control"
                                           name="existencias"
                                           th:field="*{existencias}"
                                           required="true"/>
                                </div>

                                    <div class="mb-3">
                                        <label>[[#{producto.activo}]]</label>
                                        <input type="checkbox" class="form-check-input"
                                               name="activo"
                                               th:field="*{activo}"/>
                                    </div>

                                    <div class="mb-3">
                                        <label>[[#{producto.imagen}]]</label>
                                        <input type="file" class="form-control"
                                               onchange="readURL(this);"
                                               name="imagenFile"/>
                                        <img id="blah" src="#" alt="no data" height="200"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form> 
                </div>
            </div>
        </section>
    </body>
</html>
